.idea/
Queryable.xcodeproj/project.xcworkspace/xcuserdata/dywang.xcuserdatad/
xcshareddata

.DS_Store

*/.DS_Store

Queryable.xcodeproj/xcuserdata/andforce.xcuserdatad/UserInterfaceState.xcuserstate

Queryable.xcodeproj/xcuserdata/dywang.xcuserdatad

Pods/Pods.xcodeproj/xcuserdata/dywang.xcuserdatad

Queryable.xcodeproj/xcuserdata/dywang.xcuserdatad

Queryable.xcodeproj/xcuserdata/dywang.xcuserdatad/*

fastlane/report.xml
fastlane/Preview.html


Queryable/Queryable.xcodeproj/project.xcworkspace/xcuserdata/
Queryable/Queryable.xcodeproj/xcuserdata/

Queryable/Queryable/CoreMLModels/ImageEncoder_mobileCLIP_s2.mlmodelc/*
Queryable/Queryable/CoreMLModels/TextEncoder_mobileCLIP_s2.mlmodelc/*
